<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">


    <title>Code Session</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> ></script>
    
  
    



</script>
    
       
  </head>

  <body>
  
   <p id="eventLink" > <%=link%> </p>

  

<iframe width="854" height="480" src="https://www.youtube.com/embed/sqWV97aGsPY" frameborder="0" allowfullscreen></iframe>

   
  </body>
</html>
