<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	 
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
</head>
<body>
	<nav class="navbar navbar-default" style="background-color: #e3f2fd;">
	  <div class="container-fluid">
    	<div class="navbar-header">
    	  <a class="navbar-brand" href="#">WebSiteName</a>
    	</div>
    	<ul class="nav navbar-nav">
    	  <li class="active" id="home"><a href="#">Home</a></li>
    	  <li><a href="#" id onclick="">Profile</a></li>
    	 </ul>
  		</div>
	</nav>
	<div  id="div1" class="table-responsive">
		<h2 class="text-center text-info">Upcoming sessions</h2>
	</div>
  <div>
			<h2 class="text-center text-info">Request for a Session!</h2>	
	</div>
  <script src="/js/ajax1.js">
  </script>
</body>
</html>